<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>pagina1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h2>Datos {{ pepe }}</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label>Nombre: </ion-label>
          <ion-input type="text">Victor</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Apellido: </ion-label>
          <ion-input type="text">Rosendo</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Rut: </ion-label>
          <ion-input type="text">25.222.333-7</ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button color="success">Cerrar Sesión</ion-button>
      <ion-button color="warning">Página 2</ion-button>
    </ion-card>

  </div>

</ion-content>
