<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inicio de Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h2>Inicio de Sesión {{ nombreUsuario }}</h2>
        </ion-label>
      </ion-card-title>

      <!--  investigar como poner variables en vez de valores planos  -->
      <app-componente1 nomb="Juan" apelli="Pepe Moco"> </app-componente1>


      <ion-card-content>

      <!--  condicionales aquí, ejemplo si es o no es admin  -->
        <ion-item *ngIf="edadP > 18">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="nom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button shape="block" [routerLink]="['/pagina1']">Loguear {{ nom }}</ion-button>
      <ion-button shape="block" (click)="irPagina1()">Loguear2</ion-button>
    </ion-card>

    <ion-card class="ion-text-center">
      <ion-item *ngFor="let p of listaPersonas">
        <ion-label>Nombre: {{p.nombre | uppercase }} {{p.apellido | lowercase }}</ion-label>
        <ion-label>Sueldo: {{p.sueldo | currency:'USD'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fecha actual: {{date | date:'dd-MM-yyyy'}}</ion-label>
      </ion-item>
    </ion-card>
  </div>
  <app-gesture></app-gesture>
</ion-content>